<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SAPHana" connectionString="DRIVER={HDBODBC32};SERVERNODE=HANASERVERNBFI:30015;UID=SYSTEM;PWD=Sb1@nbfi;CS=NBFI_SOFTLIVETESTSBO;" providerName="Sap.Data.Hana" />
    <add name="SAPSql" connectionString="Data Source=NBFIHVMSVR01;Initial Catalog=NBFILive_EasySAP;Persist Security Info=True;User ID=sa;Password=Sb1@nbfi;Connection Timeout=0;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>

    <add key="ServiceLayer" value="" />
    <add key="DbServer" value="HANASERVERNBFI:30015" />
    <add key="DbUserId" value="SYSTEM" />
    <add key="DbPassword" value="Sb1@nbfi" />
    <add key="Database" value="NBFI_SOFTLIVETESTSBO" />

    <add key="SqlServer" value="NBFIHVMSVR01" />
    <add key="SqlUserId" value="sa" />
    <add key="SqlPassword" value="Sb1@nbfi" />
    <add key="SqlDatabase" value="NBFILive_EasySAP" />

    <add key="SAPHanaTag" value="/b1s/v1/" />
    <add key="SAPUserId" value="z_Direc1" />
    <add key="SAPPassword" value="B1Admin" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>